<div class="row mb-2 mb-xl-3">
  <div class="col-auto d-none d-sm-block">
    <h3><strong>Edit</strong> Document</h3>
  </div>

</div>
                      <div  class="app-content  flex-column-fluid " >
                        <!--begin::Content container-->
                        <div  class="app-container  container-fluid ">
                          <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                              <div class="col-12">
                                <div class="card card-flush py-4">
                                  <div class="card-body pt-0 row">
                                    <div class="mb-3 col-12">
                                      <label class="required form-label">Name</label>
                                      <input type="text" formControlName="name" class="form-control mb-2" placeholder="Name">
                                      <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched" class="text-danger">
                                        Name is required.
                                      </div>
                                    </div>

                                    <div>
                                      <label class="form-label">Description</label>
                                      <textarea formControlName="description" class="form-control mb-2"></textarea>
                                    </div>

                                    <div class="mb-3 col-12">
                                      <label class="required form-label">Size</label>
                                      <input type="text" [disabled]="true" [readOnly]="true" formControlName="size" class="form-control mb-2" placeholder="Name">
                                    </div>
                                    <div class="mb-3 col-12">
                                      <label class="required form-label">Type</label>
                                      <input type="text" [disabled]="true" [readOnly]="true" formControlName="type" class="form-control mb-2" placeholder="Name">
                                    </div>
                                  </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                  <button type="submit"   class="btn btn-primary" [disabled]="isLoading">
                                    <span class="indicator-label">Save Changes</span>
                                  </button>
                                </div>
                              </div>
                            </div>

                          </form>

                        </div>
                      </div>
