<div class="mb-3">
  <h1 class="h3 d-inline align-middle">Edit Member</h1>
</div>
<app-loader class="loader-outer" *ngIf="isLoading"></app-loader>
<form *ngIf="!isLoading" [formGroup]="editMemberForm" (ngSubmit)="onSubmit()"  class="form">
  <div class="gap-12 gap-lg-12">
    <!--begin::General options-->
    <div class="card card-flush py-4">
      <!--begin::Card header-->
      <div class="card-header">
          <h5 class="card-title">General</h5>
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0 row">
        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="required form-label">First Name</label>
          <input type="text" formControlName="first_name" class="form-control mb-2" placeholder="First name">
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('first_name')?.invalid && (editMemberForm.get('first_name')?.dirty || editMemberForm.get('first_name')?.touched)">
              <div *ngIf="editMemberForm.get('first_name')?.errors?.required">First Name is required.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="form-label">Middle Name</label>
          <input type="text" formControlName="middle_name" class="form-control mb-2" placeholder="Middle name">
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="form-label">Last Name</label>
          <input type="text" formControlName="last_name" class="form-control mb-2" placeholder="Last name">
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('last_name')?.invalid && (editMemberForm.get('last_name')?.dirty || editMemberForm.get('last_name')?.touched)">
              <div *ngIf="editMemberForm.get('last_name')?.errors?.required">Last Name is required.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="required form-label">Email</label>
          <input type="text" formControlName="email" class="form-control mb-2" placeholder="Email">
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('email')?.invalid && (editMemberForm.get('email')?.dirty || editMemberForm.get('email')?.touched)">
              <div *ngIf="editMemberForm.get('email')?.errors?.required">Email is required.</div>
              <div *ngIf="editMemberForm.get('email')?.errors?.email">Invalid email address.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="form-label">Phone Number</label>
          <input type="text" formControlName="phone_number" class="form-control mb-2" placeholder="Phone Number">
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="form-label">Secondary Phone Number</label>
          <input type="text" formControlName="secondary_phone_number" class="form-control mb-2" placeholder="Secondary Phone Number">
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="required form-label">Birth Date</label>
          <input type="date" formControlName="birth_date" class="form-control mb-2">
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('birth_date')?.invalid && (editMemberForm.get('birth_date')?.dirty || editMemberForm.get('birth_date')?.touched)">
              <div *ngIf="editMemberForm.get('birth_date')?.errors?.required">Birth Date is required.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="required form-label">Gender</label>
          <select formControlName="gender" class="form-select mb-2">
            <option value="">Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('gender')?.invalid && (editMemberForm.get('gender')?.dirty || editMemberForm.get('gender')?.touched)">
              <div *ngIf="editMemberForm.get('gender')?.errors?.required">Gender is required.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="required form-label">Occupation</label>
          <input type="text" formControlName="occupation" class="form-control mb-2" placeholder="Occupation">
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('occupation')?.invalid && (editMemberForm.get('occupation')?.dirty || editMemberForm.get('occupation')?.touched)">
              <div *ngIf="editMemberForm.get('occupation')?.errors?.required">Occupation is required.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-6">
          <label class="required form-label">Permanent Address</label>
          <input type="text" formControlName="permanent_address" class="form-control mb-2" placeholder="Permanent Address">
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('permanent_address')?.invalid && (editMemberForm.get('permanent_address')?.dirty || editMemberForm.get('permanent_address')?.touched)">
              <div *ngIf="editMemberForm.get('permanent_address')?.errors?.required">Permanent Address is required.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-6">
          <label class="required form-label">Temporary Address</label>
          <input type="text" formControlName="temporary_address" class="form-control mb-2" placeholder="Temporary Address">
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('temporary_address')?.invalid && (editMemberForm.get('temporary_address')?.dirty || editMemberForm.get('temporary_address')?.touched)">
              <div *ngIf="editMemberForm.get('temporary_address')?.errors?.required">Temporary Address is required.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::General options-->

    <!--begin::Media-->
    <div class="card card-flush py-4">
      <div class="card-header">
          <h5 class="card-title">Member Photo</h5>
      </div>
      <div class="card-body pt-0">
        <div class="fv-row mb-2">
          <img src="{{this.imageUrl}}" class="image"/>
          <input type="file" (change)="onFileChange($event)" class="form-control"/>
        </div>
        <div class="text-muted fs-7">Set the member photo.</div>
      </div>
    </div>
    <!--end::Media-->

    <!--begin::Church Administration Data-->
    <div class="card card-flush py-4">
      <!--begin::Card header-->
      <div class="card-header">
          <h5 class="card-title">Church Administration Data</h5>
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0 row">
        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-6">
          <label class="required form-label">Baptized Date</label>
          <input type="date" formControlName="baptized_date" class="form-control mb-2">
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('baptized_date')?.invalid && (editMemberForm.get('baptized_date')?.dirty || editMemberForm.get('baptized_date')?.touched)">
              <div *ngIf="editMemberForm.get('baptized_date')?.errors?.required">Baptized Date is required.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-6">
          <label class="form-label">Membership Date</label>
          <input type="date" formControlName="membership_date" class="form-control mb-2">
        </div>
        <!--end::Input group-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Church Administration Data-->

    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary" [disabled]="isLoading">
        <span class="indicator-label">
          Save Changes
        </span>
      </button>
    </div>
  </div>
</form>
