<div class="row mb-2 mb-xl-3">
  <div class="col-auto d-none d-sm-block">
    <h3><strong>Edit</strong> Inventory</h3>
  </div>
</div>
<app-loader class="loader-outer"  *ngIf="isLoading"></app-loader>
<div   *ngIf="!isLoading" class="app-content  flex-column-fluid " >
  <!--begin::Content container-->
  <div  class="app-container  container-fluid ">
    <form [formGroup]="inventoryForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <div class="card card-flush py-4">
            <div class="card-body pt-0 row">
              <div class="mb-3 col-12">
                <label class="required form-label">Name</label>
                <input type="text" formControlName="name" class="form-control mb-2" placeholder="Category name">
                <div *ngIf="inventoryForm.controls['name'].invalid && inventoryForm.controls['name'].touched" class="text-danger">
                  Name is required.
                </div>
              </div>
              <div class="mb-3 col-12">
                <label class="required form-label">Image</label>
                <input type="file" (change)="onFileChange($event)" class="form-control mb-2">
                <img src="{{this.imageUrl}}" class="image"/>
              </div>
              <div class="mb-3 col-6">
                <label class="required form-label">Unique Code (SKU)</label>
                <input type="text" formControlName="code"  class="form-control mb-2" placeholder="Unique Code (SKU)">
                <div *ngIf="inventoryForm.controls['code'].invalid && inventoryForm.controls['code'].touched" class="text-danger">
                  SKU is required.
                </div>
              </div>
              <div class="mb-3 col-6">
                <label class="required form-label">Quantity</label>
                <input type="number" formControlName="quantity" class="form-control mb-2" placeholder="Quantity">
                <div *ngIf="inventoryForm.controls['quantity'].invalid && inventoryForm.controls['quantity'].touched" class="text-danger">
                  Quantity is required.
                </div>
              </div>
              <div>
                <label class="form-label">Description</label>
                <textarea formControlName="description" class="form-control mb-2"></textarea>
                <div class="text-muted fs-7">Set a description to the category for better visibility.</div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" [disabled]="isButtonLoading" class="btn btn-primary">
              <span class="indicator-label">Save Changes</span>
            </button>
          </div>
        </div>
      </div>

    </form>

  </div>
</div>
