<div class="row mb-2 mb-xl-3">
  <div class="col-auto d-none d-sm-block">
    <h3><strong>Add</strong> Expenses</h3>
  </div>

</div>
<div  class="app-content  flex-column-fluid " >
  <!--begin::Content container-->
  <div  class="app-container  container-fluid ">
    <div class="col-4">
      <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-end">Date: </label>
        <div class="col-sm-10">
          <input type="date" class="form-control" [(ngModel)]="model.date">
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-12">
      <div class="card">
        <div class="card-header">
          <h6 class="card-subtitle text-muted">Add Weekly Income Except Tithes</h6>
        </div>
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>Category</th>
              <th class="d-none d-md-table-cell" style="width:25%">Amount</th>
              <th style="width:40%;">Description (If Any)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of model.income; index as i">
              <td>
                {{item.category}}
              </td>
              <td class="d-none d-md-table-cell">
                <input type="number" class="form-control" [(ngModel)]="item.amount">
              </td>
              <td><input type="text" class="form-control" [(ngModel)]="item.description"></td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" (click)="onSubmit()">Save</button>
  </div>
</div>
