<div class="row mb-2 mb-xl-3">
  <div class="col-auto d-none d-sm-block">
    <h3><strong>List</strong> Member</h3>
  </div>

  <div class="col-auto ms-auto text-end mt-n1">
    <button type="button" (click)="searchFormToggle()"
    class="btn-shadow btn btn-info mr-2">
     Filter
   </button>
    <a href="/member/add" class="btn btn-primary">Add Member</a>
  </div>
</div>
<app-loader class="loader-outer"  *ngIf="isLoading"></app-loader>
<div class="row" *ngIf="!isLoading">
  <app-filter (filterModelData) = 'updateFilter($event)' [iSearchFormDisplay]="SearchFormDisplay"></app-filter>
  <div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div *ngIf="items == undefined; else listTable">
          <p><em>Loading...</em></p>
        </div>
      <ng-template #listTable>
        <table class="mb-0 table my-table" >
          <thead>
            <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
              <th>SN</th>
              <th>Profile Image</th>
              <th>Name</th>
              <th>Phone Number</th>
              <th>Email</th>
              <th>Gender</th>
              <th>Date Added</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="fw-semibold text-gray-600">
            <tr *ngFor="let member of members; let i = index">
              <td>{{ i + 1 }}</td>
              <td><img src="{{member.photo}}" class="table-image" /></td>
              <td>
                   {{ member.first_name }} {{ member.middle_name }} {{ member.last_name }}
              </td>
              <td>{{ member.phone_number }}</td>
              <td>{{ member.email }}</td>
              <td>{{ member.gender }}</td>
              <td>{{ member.created_at | date: 'dd MMM yyyy, h:mm a' }}</td>
              <td class="table-action">
                <a routerLink="/member/edit/{{member.id}}" title="Edit" class="btn mr-2" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a>
                <a (click)="deleteMember(member.id, i)" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a>
              </td>
              <!-- <td class="">
                <a class="btn btn-icon btn-active-light-primary w-30px h-30px me-3" >

                  <i class="ki-duotone ki-setting-3 fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                </a>
              <a class="btn btn-icon btn-active-light-primary w-30px h-30px" title="Delete"  (click)="deleteMember(member.id, i)">
                  <i class="ki-duotone ki-trash fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
              </a>
              </td> -->
            </tr>
          </tbody>
      <ng-template #ShowItem>
        <p>No Data Found</p>
      </ng-template>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" *ngIf="(currentPage - 1 > totalPages)"><a class="page-link"
          (click)="onPageChange(currentPage - 1)"
          >Previous</a></li>
        <li class="page-item" *ngFor="let page of getPages()">
          <a class="page-link" (click)="onPageChange(page)">{{page}}</a>
        </li>
          <li class="page-item" *ngIf="(currentPage + 1 < totalPages)"><a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a></li>

      </ul>
    </nav>
    <!-- <div class="pagination">
      <span>
        Pagination:  <input class="col-4 pagination-input" #textInput (input)="Pagination(textInput.value)"
        (change)="value" ng-init="1" name="offset" type="number" min="1">
        Total Page: {{listData.totalPages}}
      </span>
  </div> -->
  </ng-template>
  </div>
  </div>
  </div>
</div>

