<button type="button" class="btn btn-secondary mr-2" data-bs-toggle="modal" data-bs-target="#editModal">
  Edit Data
</button>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Particular Date Data</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="date" class="form-control" [(ngModel)]="editDate" >
        Selected Date: {{editDate}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button"  class="btn btn-primary" (click)="validateEditLink(editDate)">Edit Now</button>
      </div>
    </div>
  </div>
</div>
