<div class="mb-3">
  <h1 class="h3 d-inline align-middle">Add Member</h1>
</div>
<form [formGroup]="memberForm" (ngSubmit)="onSubmit()"  class="form">
  <div class="gap-12 gap-lg-12">
    <!--begin::General options-->
    <div class="card card-flush py-4">
      <!--begin::Card header-->
      <div class="card-header">
          <h5 class="card-title">General</h5>
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0 row">
        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="required form-label">First Name</label>
          <input type="text" formControlName="first_name" class="form-control mb-2" placeholder="First name">
          <div *ngIf="memberForm.controls['first_name'].invalid && memberForm.controls['first_name'].touched" class="text-danger text-sm">
            FirstName is required.
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="form-label">Middle Name</label>
          <input type="text" formControlName="middle_name" class="form-control mb-2" placeholder="Middle name">
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="form-label">Last Name</label>
          <input type="text" formControlName="last_name" class="form-control mb-2" placeholder="Last name">
          <div *ngIf="memberForm.controls['last_name'].invalid && memberForm.controls['last_name'].touched" class="text-danger text-sm">
            Last Name is required.
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="required form-label">Email</label>
          <input type="text" formControlName="email" class="form-control mb-2" placeholder="Email">
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="form-label">Phone Number</label>
          <input type="text" formControlName="phone_number" class="form-control mb-2" placeholder="Phone Number">
          <div *ngIf="memberForm.controls['phone_number'].invalid && memberForm.controls['phone_number'].touched" class="text-danger text-sm">
            Phone Number is required.
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="form-label">Secondary Phone Number</label>
          <input type="text" formControlName="secondary_phone_number" class="form-control mb-2" placeholder="Secondary Phone Number">
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="required form-label">Birth Date</label>
          <input type="date" formControlName="birth_date" class="form-control mb-2">
          <div *ngIf="memberForm.controls['birth_date'].invalid && memberForm.controls['birth_date'].touched" class="text-danger text-sm">
            Birth Date is required.
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="required form-label">Gender</label>
          <select formControlName="gender" class="form-select mb-2">
            <option value="">Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <div *ngIf="memberForm.controls['gender'].invalid && memberForm.controls['gender'].touched" class="text-danger text-sm">
            Gender is required.
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="required form-label">Occupation</label>
          <input type="text" formControlName="occupation" class="form-control mb-2" placeholder="Occupation">
          <div *ngIf="memberForm.controls['occupation'].invalid && memberForm.controls['occupation'].touched" class="text-danger text-sm">
            Occupation is required.
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-6">
          <label class="required form-label">Permanent Address</label>
          <input type="text" formControlName="permanent_address" class="form-control mb-2" placeholder="Permanent Address">
            <div *ngIf="memberForm.get('permanent_address')?.invalid && (memberForm.get('permanent_address')?.dirty || memberForm.get('permanent_address')?.touched)">
              <div *ngIf="memberForm.get('permanent_address')?.errors?.required" class="text-danger text-sm">Permanent Address is required.</div>
            </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-6">
          <label class="required form-label">Temporary Address</label>
          <input type="text" formControlName="temporary_address" class="form-control mb-2" placeholder="Temporary Address">
            <div *ngIf="memberForm.get('temporary_address')?.invalid && (memberForm.get('temporary_address')?.dirty || memberForm.get('temporary_address')?.touched)">
              <div *ngIf="memberForm.get('temporary_address')?.errors?.required" class="text-danger text-sm text-sm">Temporary Address is required.</div>
            </div>
        </div>
        <!--end::Input group-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::General options-->

    <!--begin::Media-->
    <div class="card card-flush py-4">
      <div class="card-header">
          <h5 class="card-title">Member Photo</h5>
      </div>
      <div class="card-body pt-0">
        <div class="fv-row mb-2">
          <img src="{{this.imageUrl}}" class="image"/>
          <input type="file" (change)="onFileChange($event)" class="form-control" />
        </div>
        <div class="text-muted fs-7">Set the member photo.</div>
      </div>
    </div>
    <!--end::Media-->

    <!--begin::Church Administration Data-->
    <div class="card card-flush py-4">
      <!--begin::Card header-->
      <div class="card-header">
          <h5 class="card-title">Church Administration Data</h5>
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0 row">
        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-6">
          <label class="required form-label">Baptized Date</label>
          <input type="date" formControlName="baptized_date" class="form-control mb-2">
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-6">
          <label class="form-label">Membership Date</label>
          <input type="date" formControlName="membership_date" class="form-control mb-2">
        </div>
        <!--end::Input group-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Church Administration Data-->

    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary" [disabled]="isLoading">
        <span class="indicator-label">
          Save Changes
        </span>
      </button>
    </div>
  </div>
</form>
